@use "@material/button";
@include button.core-styles;
@use "@material/card";
@include card.core-styles;

body {
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  color: white;
  margin: auto;
  padding: 1%;
}

#basic-profile {
   border: 1px solid black;
   display: inline-block;
   padding: 10px;
}

.icon {
  display: inline-block;
  height: 40px;
  margin-top: -50px;
  width: 40px;
}

#icons {
  display: block;
}

#icons ul {
  margin-left: -42px
}

#icons ul li {
  display: inline-block;
}

img {
  border: 1px solid white;
  box-shadow: 0 19px 30px #0000004C, 0 15px 12px #00000038;
  height: 400px;
  width: 350px;
}

#inner-content {
   border: 1px solid black;
   display: none;
   text-align: center;
}

#intro {
  margin: auto;
  width: 300px;
}

#intro-button-one {
  display: inline-block;
  padding: 1%;
}

#intro-button-two {
    display: inline-block;
}

#intro-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 650px;
}

.mdc-button {
    color: white;
}

.mdc-touch-target-wrapper {
    display: block;
}

ul {
    list-style-type: none;
}

#map {
  border: thin solid black;
  height: 500px;
  width: 500px;
}

